<header class="title-box">
  <div class="title-text">
    <button class="title__button-left">
      <ion-icon name="menu" class="button-left__icon"></ion-icon>
    </button>
    <img src="../../assets/image/logo.png">
    <button class="title__button-right">
      <ion-icon name="notifications" class="button-right__icon" size="small"></ion-icon>
    </button>
  </div>

  <div class="title-profile">
    <img src="./../../assets/image/profile.png" alt="profile">
    <div class="profile-text">
      <h2 class="text-name">Leonardo Santos</h2>
      <span class="text-level">Nível Roxo</span>
    </div>
  </div>

  <div class="title-footer">
    <button class="button-title-body">
      <ion-icon name="accessibility"></ion-icon>
      <span>Meu corpo</span>
    </button>
    <button class="button-title-goal">
      <ion-icon name="trophy"></ion-icon>
      <span>Objetivos e Conquistas</span>
    </button>
  </div>
</header>

<main class="content-box">
  <div class="content-personal">
    <h2 class="content-title">
      <span>Personal Online</span>
      <button class="content__add-button">
        <ion-icon name="add-circle-outline"></ion-icon>
      </button>
    </h2>

    <ul class="personal-list">
      <li class="personal-item personal-background">
        <button class="personal-button">
          <ion-icon class="personal-icon" name="add-circle-outline"></ion-icon>
          <span class="personal-text">Novo Treino</span>
        </button>
      </li>
      <li class="yoga-item yoga-background">
        <button class="yoga-button">
          <span class="yoga-text">Yoga Expre</span>
        </button>
      </li>
    </ul>
  </div>

  <div class="content-programas">
    <h2 class="programas-title">
      <span class="programas-title__text">Programas</span>
      <span class="programas-title__new">Novo</span>
    </h2>

    <ul class="programas-list">
      <li class="programas-item programas-background">
        <span class="programas-text-orange">Continuar treinando</span>
        <span class="programas-text-white">Levantamento de peso</span>
      </li>

      <li class="yoga-item yoga-background">
        <button class="yoga-button">
          <span class="yoga-text">Yoga Expre</span>
        </button>
      </li>
    </ul>
  </div>

  <div class="content-conteudos">
    <h2 class="conteudos-title">
      <span class="conteudos-title__text">Conteúdos</span>
    </h2>

    <ul class="conteudos-list">
      <li class="conteudos-item">
        <button><!--Botão laranja--></button>
      </li>
      <li class="conteudos-item">
      </li>
    </ul>
  </div>
</main>
